<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975917137561-i54fgf46oisjal3eqdj57temrr2bs5ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975917137561-i54fgf46oisjal3eqdj57temrr2bs5ar</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ4NMcXMiOEfKcVVnhgwttQGkU11uj1Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>975917137561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.fla99916.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-16a13</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-16a13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975917137561:ios:22b507366c9592c9344208</string>
</dict>
</plist>